<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatis.dao.MembersDao">

    <insert id="insert">
        INSERT INTO Members (login_id, password, nickname, createdAt) VALUES(#{login_id}, #{password}, #{nickname}, sysdate)
    </insert>

    <select id="findById" resultType="com.example.mybatis.dto.MembersDto">
        SELECT * FROM Members WHERE id = #{id}
    </select>

    <select id="findAll" resultType="com.example.mybatis.dto.MembersDto">

    </select>

    <select id="login" resultType="com.example.mybatis.dto.MembersDto">
        SELECT * FROM Members WHERE login_id = #{login_id} AND password =${password}
    </select>

    <update id="update">

    </update>

    <delete id="delete">

    </delete>

</mapper>